body, html {
    height: 100%;
    margin: 0;
}

body{
    background-image: url("../images/background.jpg");
    height: 100%; 
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(14, 88, 64);
    
}
h4 {
    line-height: 40px;
}
#start{
    margin-left: 570px;
    margin-top: 150px;
    width: 220px;
    height: 61px;
}
.hide {
    display: none;
}
#timer{
    margin-left: 40%;
    margin-top: 5%;
}
#container{
    margin-left: 15%;
    margin-top: 5%;
}
label {
    margin-right: 26px;
    font-size: 20px;
}
#done{
    margin-left: 570px;
    margin-top: 100px;
    width: 220px;
    height: 61px;
}
#done-msg {
    font-size: 45px;
    margin-left: 45%;
    margin-top: 10%;
}
#correct {
    font-size: 30px;
    margin-left: 45%;
    margin-top: 2%;
    
}
#incorrect {
    font-size: 30px;
    margin-left: 45%;
}
#unanswered {
    font-size: 30px;
    margin-left: 45%;
}